<header class="section header color-1 app-landing-header">
    <div class="shape-wrapper">
        <div class="shape shape-background shape-main gradient gradient-53"></div>
        <div class="shape shape-background shape-top gradient gradient-35"></div>
    </div>
    <div class="container overflow-hidden" style="padding-top: 130px;">
        <div class="row gap-y align-items-center">
            <div class="col-md-6 col-lg-6">
                <p class="lead d-flex align-items-center my-0">
                <i class="fas fa-gavel font-md mr-3"></i></p>
                <h1 class="bold display-lg-2 font-lg mb-5">SubastaYa<span class="d-block light font-md">Subasta, Puja y Gana!</span>
                </h1>
                <p class="lead">SubastaYa es una aplicación enfocada en las subastas su objetivo principal es brindar un sistema de pujas en tiempo real para ofrecer una experiencia gratificante para ambas partes y garantizar la mayor privacidad posible hasta finalizada la subasta así todos los ofertantes se encuentran en las mismas condiciones.</p>
                <div class="nav mt-5 align-items-center">
                    <a href="https://play.google.com/store/apps/details?id=com.labdenegocios.subastaya&hl=es_419" class="btn btn-rounded btn-lg btn-4 shadow mr-3 px-4" target="_blank">Descarga la App</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 ml-lg-auto">
                <div data-aos="fade-left">
                    <div class="mobile-device iphone-x">
                        <div class="screen">
                            <img src="../../../assets/img/subastaya/14.jpeg" class="img-responsive" alt="">
                        </div>
                        <div class="notch"></div>
                    </div>							
                </div>
            </div>
        </div>
    </div>
</header>
